<div id="<%= dom_id social_platform %>">
  <p>
    <strong>Name:</strong>
    <%= social_platform.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= social_platform.url %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= social_platform.company_id %>
  </p>

</div>
